.whole-container{
  background-color: rgb(255, 253, 250);
  width: 1000px;
  margin: auto;
  margin-top: 40px;
  padding: 20px;
  box-shadow: 0 10px 12px rgba(43, 29, 15, 0.2); /* Bottom shadow */
  border-radius: 8px;
  border: 1px solid rgb(243, 241, 241);
}

.createticket-header{
  padding: 30px 20px 20px 50px;
  text-align: center;
  font-weight: 600;
}

.ticket{
  color: #82b440;
}


.create-ticket-form {
  width: 80%;
  margin: 0 auto;
  padding: 20px;
}

.priority-stars {
  display: inline-flex;
  margin-left: 8px;
  vertical-align: middle;
}


.MuiFormControl-root {
  margin-bottom: 16px;
}

.MuiButton-contained {
  margin-top: 16px;
}

.submitbtn{
  background-color: #82b440 !important;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
}

.submitbtn:hover{
  background-color: #94bb62 !important;
  transition: background-color 0.3s ease;
}


