
.all-ticket-container{
    width: 80%;
    margin: auto;
    padding-top: 20px;
}

.ticket-header{
    text-align: center;
    font-weight: 600;
    padding: 30px 20px 20px 50px;
}

.modal-header{
    text-align: center;
    font-weight:600;
}

.table-row{
    border-bottom: 2px solid rgb(66, 65, 65);
    box-shadow: 1px 1px 1px;
}

.table-header th{
    font-weight: 700 !important;
    font-size: large;
}

.buttons{
    display: flex;
    justify-content: center;
}

.view-button{
    background-color: transparent;
    border: none;
    font-size: 18px;
    cursor: pointer;
    padding: 4px;
    margin-left: 20px;
}

.view-button:hover {
    color: rgb(25, 155, 42);
    font-size: 20px;
}

.change-button{
    background-color: transparent;
    border: none;
    font-size: 18px;
    cursor: pointer;
    padding: 4px;
}
