.assigned-devices-h2{
    text-align: center;
    padding: 30px 2px 20px 2px;
    font-size: 32px;
    font-weight: 600;
}

.assigned-container{
    width: 1400px;
    padding: 10px 20px 10px 50px;
}

.assigned-container{
    display: flex;
    gap: 20px;
}


.assigned-details{
    display: flex;
    justify-content: space-between;
    gap: 50px;
    width: 320px;
    background-color: #addf6b68 !important;
    padding: 16px 10px 10px 26px;
    border-radius: 8px;
    box-shadow: 0px 8px 6px rgba(0,0,0,0.2);
    text-align: left;
}

.detailstitle{
    font-weight: 600;
    font-size: 16px;
}

.details-p{
    font-size: 16px;
    padding-top: 6px;
}

.icons{
    align-items: center;
    font-size: 20px;
    padding-right: 4px;
}