
.ticket-details-container{
    margin: auto;
    width: 70%;
    font-size: large;
}

.ticket-details-h2{
    padding: 10px 2px 6px 10px;
    font-weight: 600;
}

.priority-high {
    color: red;
  }
  .priority-medium {
    color: rgb(201, 201, 46);
  }
  .priority-low {
    color: rgb(7, 137, 7);
  }

.strong-priority{
    color: black;
}

.comments-section {
    display: flex;
    flex-direction: column;
    gap: 10px; 
    width: 100%;
    overflow-y: auto;
    height: 360px;
  }
  
  .comment {
    max-width: 100%;
    padding: 10px;
    border-radius: 10px;
    margin: 5px 0;
  }
  
  .comment.left {
    align-self: flex-start;
    background-color: #f1f1f1;
  }
  
  .comment.right {
    align-self: flex-end;
    background-color: #d1ecf1;
  }
  
.status-select{
    margin-top: 20px;
}

.main-container{
    display: flex;
    // justify-content: space-between;
    gap: 80px;
    width: 1500px;
    margin: auto;
    padding: 40px 10px 10px 6px;
}


.leftside{
    width: 34%;
}

.leftside-details{
    background-color: #fefeff;
    border-radius: 4px;
    padding: 10px;
    box-shadow: 1px 1px 8px rgba(117, 117, 117, 0.8);
}

.rightside {
    display: block;
    width: 50%;
    height: auto;
    padding: 10px;
    border-radius: 8px;
    background-color: #FFFFFF;
    box-shadow: 1px 1px 8px rgba(171, 171, 171, 0.8);
  }

.icon-details{
    display: flex;
    gap: 8px;
    align-items: center;
    font-size: large;
    font-weight: 500;
    padding: 8px 0px 8px 0px;
}

.icon-details2{
    display: flex;
    gap: 8px;
    align-items: center;
    font-size: medium;
    font-weight: 300;
    padding: 12px 0px 8px 0px;
}


.icon-details p{
    margin: 0;
}

.items{
    font-size: x-large;
    font-weight: 400;
    padding: 8px 1px 1px 2px;
    // text-align: center;
}

.leftside-content-first{
    display: flex;
    gap:80px;
    padding: 4px 1px 1px 8px;
    justify-items: left;
}

.leftside-content-second{
    display: flex;
    gap:80px;
    padding: 30px 1px 1px 8px;
    justify-items: left;
}


.change-status-container1{
    gap: 20px;
    margin-top: 20px;
    padding: 10px;
    border-radius: 4px;
    background-color: #fefeff;
    box-shadow: 1px 1px 8px rgba(107, 107, 107, 0.8);
}

.change-status-container{
    display: flex;
    gap: 20px;
    padding: 10px;
    border-radius: 8px;
}


.status-select{
    width: 200px;
}

.change-status{
    padding-top: 24px;
    display: flex;
    align-items: center;
    font-size:20px;
    font-weight: 600;
    gap: 8px;
}

.change-status p{
    margin: 0;
}

.text-field{
    padding: 8px;
}

.update-button{
    display: flex;
    padding: 8px;
    margin-top: 40px;
    justify-content: left; 
    align-items: center; 
}


//-------rightside----

.comment-button{
    font-size: xx-large;
}

.plus-button{
    background-color: rgb(225, 228, 230);
    border: none !important;
    font-size: x-large;
}

.comments{
    font-weight: 600;
    padding: 6px 4px 6px 2px;
}

