
.ticket-details-container{
    margin: auto;
    width: 100%;
    font-size: large;
}

.ticket-details-h2{
    padding: 10px 2px 6px 10px;
    font-weight: 600;
    border-left: 8px solid #47894a;
}

.ticketIcon{
    margin-right: 10px;
}


.strong-priority{
    color: black;
}

.comments-section {
    display: flex;
    flex-direction: column;
    gap: 10px; 
    width: 98%;
    overflow-y: auto;
    height: 272px !important;
  }
  
  .comment {
    max-width: 100%;
    padding: 8px 10px 4px 14px;
    border-radius: 10px;
    margin: 6px 2px 2px 18px;
  }
  
  .comment.left {
    align-self: flex-start;
    background-color: #f1f1f1;
  }
  
  .comment.right {
    align-self: flex-end;
    background-color: rgb(240, 245, 245);
    box-shadow: 2px 2px 4px rgba(0,0,0,0.3);
    margin-bottom: 12px;
  }
  
.status-select{
    margin-top: 20px;
}

.main-container{
    display: flex;
    // justify-content: space-between;
    gap: 70px;
    width: 1440px;
    margin: auto;
    padding: 50px 10px 10px 10px;
}


.leftside{
    width: 33%;
}

.leftside-details{
    background-color: #FFFFFF;
    border-radius: 8px;
    padding: 10px;
    box-shadow: 0px 10px 6px rgba(0, 0, 0, 0.10);
    border: 2px solid rgb(236, 236, 236);
}

.rightside {
    display: block;
    width: 40%;
    height: auto;
    padding: 8px;
    border-radius: 8px;
    background-color: #FFFFFF;
    box-shadow: 0px 10px 6px rgba(0, 0, 0, 0.10);
    border: 2px solid rgb(236, 236, 236);
  }

.icon-details{
    display: flex;
    gap: 8px;
    align-items: center;
    font-size: large;
    font-weight: 500;
    padding: 8px 0px 8px 0px;
}

.icon-details2{
    display: flex;
    gap: 8px;
    align-items: center;
    font-size: medium;
    font-weight: 300;
    padding: 10px 0px 9px 0px;
}

.drawerpriority{
    padding: 0px 0px 12px 0px;
}

.icon-details p{
    margin: 0;
}

.items{
    font-size: x-large;
    font-weight: 400;
    padding: 8px 1px 1px 2px;
    // text-align: center;
}

.leftside-content-first{
    display: flex;
    gap:70px;
    padding: 4px 1px 1px 8px;
    justify-items: left;
}

.leftside-content-second{
    display: flex;
    gap:80px;
    padding: 30px 1px 1px 8px;
    justify-items: left;
}


.change-status-container1{
    gap: 20px;
    margin-top: 40px;
    padding: 10px 2px 2px 22px;
    border-radius: 8px;
    background-color: #FFFFFF;
    box-shadow: 0px 10px 6px rgba(0, 0, 0, 0.10);
    border: 2px solid rgb(236, 236, 236);
    height: 210px;
}

.change-status-container{
    display: flex;
    gap: 20px;
    padding: 10px;
    border-radius: 8px;
}


.status-select{
    width: 200px;
}

.change-status{
    padding-top: 24px;
    display: flex;
    align-items: center;
    font-size:20px;
    font-weight: 600;
    gap: 8px;
}

.change-status p{
    margin: 0;
}

.text-field{
    padding: 8px;
}

.update-button{
    display: flex;
    padding: 10px;
    margin-top: 38px;
    align-items: center; 
}


//-------rightside----

.comment-button{
    font-size: xx-large;
}

.plus-button{
    background-color: rgb(225, 228, 230);
    border: none !important;
    font-size: x-large;
}

.comments{
    font-weight: 600;
    padding: 6px 4px 6px 10px;
    border-left: 8px solid #6BBCC8;
}

.comment-author{
    font-weight: 600;
}

.arhieveContainer{
    margin: auto;
    text-align: center;
    background-color: #FFFFFF;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0px 2px 8px (rgba(0,0,0,0.3));
    width: 260px;
}

.arhieveContainer h2{
    font-weight: 600;
    font-size: 32px;
}


.arhieve{
    margin: auto;
    font-size: 32px;
    font-weight: 600;
}