.mytickets-h2{
    text-align: center;
    padding: 30px 2px 10px 2px;
    font-size: 32px;
    font-weight: 600;
}

.my-tickets-container {
    padding: 50px;
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
  }
  
  .my-ticket-card {
    width: 320px;
  }

  .card{
    height: 314px;
    border-radius: 12px !important;
    box-shadow: 1px 6px 4px rgba(0, 0, 0, 0.2);
    background-color: #addf6b68 !important;
  }

  .card-action{
    margin:2px 10px 2px 46px;
    gap: 8px;
  }

  .bold{
    font-weight: 600;
  }

  .card-content{
    height: 260px;
  }

  .details-title{
    font-size: 16px;
    font-weight: 500;
  }
  

  .icon-details2{
    display: flex;
    gap: 8px;
    align-items: center;
    font-size: medium;
    font-weight: 300;
    padding: 10px 0px 9px 0px;
}

.detailsbtn{
  font-size: 24px !important;
  color: rgb(75, 174, 207) !important;
}

.detailsbtn:hover{
  color: white !important;
  background-color: rgb(78, 177, 210);
}

.updatebtn{
  font-size: 24px !important;
  color: rgb(152, 199, 64) !important;
  text-align: center !important;
}

.updatebtn:hover{
  color: white !important;
  background-color: rgb(147, 185, 76);
}

.deletebtn{
  font-size: 24px !important;
  color: red !important;
}

.deletebtn:hover{
  color: white !important;
  background-color: rgb(203, 58, 51);
}

.ticketdetails{
  font-size: 26px !important; 
  font-weight: 600 !important;
  text-align: center;
  padding-bottom: 10px;
}

.drawerDetails{
  font-size: 18px !important;
}

.additional-info-list {
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow-y: auto;
  height: 200px;
  background-color: #fcf9f3;
  padding: 10px;
  border-radius: 8px;
}

.additional-info-list p{
  background-color: #f4ebdd;
  padding: 6px 3px 2px 10px;
  border-radius: 8px;
  min-height: 60px;
  box-shadow: 2px 2px 2px solid rgba(255, 255, 255, 0.2);
}

.commentarea{
  display: flex;
  flex-direction: column;
  width: 440px;
  overflow-y: auto;
  max-height: 360px;
  background-color: #99b279;
  padding: 10px;
  border-radius: 8px;
}

.commentarea p{
  background-color: #82b440;
  padding: 6px 3px 2px 10px;
  border-radius: 8px;
  min-height: 60px;
  box-shadow: 2px 2px 2px solid rgba(255, 255, 255, 0.2);
}

.ticket-info {
  display: flex;
  justify-content: space-between;
}

.details-titles {
  margin-right: 16px; /* Add spacing between titles and values */
}

.details-title {
  font-weight: bold;
  color: #555;
  margin-bottom: 8px; /* Adjust spacing between each title */
}

.details-values p {
  margin-bottom: 8px; /* Align with the spacing of titles */
}
